@font-face {
    font-family: 'SpaceGrotesk';
    src: url(/static/fonts/SpaceGrotesk-VariableFont_wght.ttf)
        format('truetype');

    font-style: normal;
}

:root {
    --surface: #FDFDFD;
    --text: #111;
}

body {
    background-color: var(--surface);
    color: var(--text);

    font-family: 'SpaceGrotesk';
}

main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}
